node_modules/
dist/
target/
.idea/
.vscode/
*.log
/data/

frontend/node_modules/
frontend/dist/
frontend/.env.*.local
backend/target/
admin/permission-admin-local/target/
admin/permission-admin-local/data/
admin/permission-admin-local/permission-data/
admin/permission-admin-local/logs/
admin/permission-admin-keycloak/target/
admin/permission-admin-keycloak/logs/
/.arts
/.codeartsdoer
