node_modules/
dist/
target/
.idea/
.vscode/
*.log
/data/

frontend/node_modules/
frontend/dist/
frontend/.env.*.local
backend/target/
permission-admin/target/
permission-admin/data/
permission-admin/permission-data/
/.arts
/.codeartsdoer
